# Group 17

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_excel('files/Copy of bank.xlsx', index_col=0)

## Introduction of the data:

* Customer name: Jon Smith
* Weekly income: $400
* Occupation: Full-time student at Macquarie University. Part-time crew member at Domino's.

## Brief snippet of the data:

In [3]:
df.head()

,Date,TIME_TRANS,LOCATION,TRANS_TYPE,WITHDRAWL,DEPOSIT,BALANCE
TRANS_ID,,,,,,,
1,02.05.2020,17,NaN,Weekly pay,NaN,400.0,550
2,02.05.2020,18,Macquarie Park,Healthcare,59.0,NaN,491
3,03.05.2020,14,Chatswood,Utilities,60.0,NaN,431
4,04.05.2020,18,Burwood,Clothing,42.0,NaN,389
5,05.05.2020,7,Town Hall,Travel,16.0,NaN,373

## Data description:

1. ID: Gives every transaction a unique identifier.
2. DATE: Gives the date on which Jon made the transaction. 
3. TIME_TRANS: Gives the time taken to complete the transaction (in seconds).
4. LOCATION: Gives the location where Jon made the transaction.
5. TRANS_TYPE: Categorises each transaction in 6 categories. Categories are:
    * Clothing: Includes the amount spent on clothing and other fashion accessories.
    * Food: Includes the amount spent on food at restaurants.
    * Healthcare: Includes the amount spent on all health related issues. This includes pharmacies and hospitals.
    * Travel: Includes all travel related expenses. This includes the money spent on public transport and petrol stations.
    * Utilities: This includes all miscellaneous expenditure.
    * Weekly pay: This refers to the weekly payment which is deposited to Jon's account.
6. WITHDRAWL: Gives the amount of money withdrawn from Jon's account.
7. DEPOSIT: Gives the amount of money deposited into Jon's account..
8. BALANCE: Gives the total amount of money in Jon's account after each transaction.

A similar distribution among all income categories can be seen.

Both the charts above show that income does not affect the time a customer spends on the banking app.