# Group 17

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

In [9]:
df = pd.read_excel('files/Copy of bank.xlsx', index_col=0)

## Brief snippet of the data:

In [10]:
df.head()

,HOME_OWNERSHIP,INCOME_CATEGORY,DATE,ANNUAL_INC,TRANSACTION_DETAILS,CARD_TYPE,CARD_ENDING_IN,PASSWORD,DATE.1,GENDER,CVV,CURRENCY,CONTACT_INFO,WITHDRAWAL AMT,DEPOSIT AMT,BALANCE AMT
ID,,,,,,,,,,,,,,,,
1077501,RENT,Low,2017-06-29,24000,TRF FROM Indiaforensic SERVICES,switch,4374,OCpJsF9fC,19/10/2015,Female,827,USD,962-683-9351,NaN,1000000.0,1000000
1077430,RENT,Low,2017-07-05,30000,TRF FROM Indiaforensic SERVICES,jcb,9695,ZItgXOTpVZkt,18/03/2015,Female,901,USD,843-558-0494,NaN,1000000.0,2000000
1077175,RENT,Low,2017-07-18,12252,FDRL/INTERNAL FUND TRANSFE,diners-club-enroute,7304,itaIoCUb9,30/03/2018,Female,403,USD,554-189-5641,NaN,500000.0,2500000
1076863,RENT,Low,2017-08-01,49200,TRF FRM Indiaforensic SERVICES,jcb,5008,FIR54IlLV,14/03/2015,Male,550,USD,253-238-4262,NaN,3000000.0,5500000
1075358,RENT,Low,2017-08-16,80000,FDRL/INTERNAL FUND TRANSFE,mastercard,1826,IjJPNqhsp,19/05/2019,Female,777,USD,889-850-8538,NaN,500000.0,6000000

## Data description:

1. ID: Gives every transaction a unique identifier.
2. HOME_OWNERSHIP: Describes the living situation of the customer. 
3. INCOME_CATEGORY: '
4. ANNUAL_INCOME: Gives the annyal income of the customer.
5. TRANSACTION_DETAILS: Gives transaction details.
6. CARD_TYPE: Provides the type of card the customer used for the transaction.
7. CARD_ENDING_IN: Last 4 digits of the card used for the transaction.
8. PASSWORD: Password of the customer account.
9. DATE: Date of the transaction.
10. GENDER: Gives the gender of the customer.
11. CVV: Provides the CVV of the customer card used for transaction.
12. CURRENCY: Currency in which htransaction occured.
13. CONTACT_INFO: Contact number of the customer.
14. WITHDRAWL_AMT: Amount withdrawn by the customer, if any.
15. DEPOSIT_AMT: Amount deposited by the customer, if any.
16. BALANCE_AMT: Balance amount in the customer account, if any.

Now step through the examples in the tutorial to learn a little about the plot methods available in Seaborn.

## Plot Size and Title

One thing you may want to do is to change the plot size which by default can be a bit small.  You should also add titles to your plots and make sure they have good X and Y axis labels.  Here's an example of how you can do this.  Play around with these settings to see their effect.  (Note that I get a warning about deprecated arguements when running this, that's ok).

You might also want to experiment with different figure styles to find something you like.  Here is the [Seaborn documentation](https://web.archive.org/web/20180621043054/https://seaborn.pydata.org/tutorial/aesthetics.html#seaborn-figure-styles) on that for the version in Anaconda.

In [ ]:
plt.figure(figsize=(12,6))
with sns.axes_style('darkgrid'):
    sns.distplot(df.Speed)
plt.title("Distribution of Speed for Pokemon")